{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/footer.css') }}">
{% endblock %}

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbuttom bottomxiayi">
        <ul class="nav nav-tabs navbottom" role="tablist">
            <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i><br>Inicio</a></li>
            <li role="presentation"><a href="#stores" role="tab" data-toggle="tab" id="store"><i class="fa fa-archive" aria-hidden="true"></i><br>Tiendas</a></li>
            <li role="presentation"><a href="#cart" role="tab" data-toggle="tab" id="carts"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>Cesta</a></li>
            <li role="presentation"><a href="#person" role="tab" data-toggle="tab" id="persons"><i class="fa fa-user" aria-hidden="true"></i><br>Perfil</a></li>
        </ul>
    </div>
</div>