{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/footer.css') }}">
{% endblock %}

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbuttom bottomxiayi">
        <ul class="nav nav-tabs navbottom" role="tablist">
            <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i><br>首页发现</a></li>
            <li role="presentation"><a href="#stores" role="tab" data-toggle="tab"><i class="fa fa-archive" aria-hidden="true"></i><br>所有店铺</a></li>
            <li role="presentation"><a href="#cart" role="tab" data-toggle="tab"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>购物车</a></li>
            <li role="presentation"><a href="#person" role="tab" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i><br>个人中心</a></li>
        </ul>
    </div>
</div>
<div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('bundles/durabol/img/fleche.jpg') }}"/></a></div>