{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/prepareLogin.css') }}">
{% endblock %}

<div class="container-fluid prepare">
    <a href="{{ path('fos_user_security_login') }}" class="button button-rounded button-highlight button-giant buttonLogin">登录后可见</a>
</div>