.navbar ul.nav li a{
    font-size: 24px;
}
a.navbar-brand{
    font-size: 28px;
}
.nav-tabs>li.active>a{
    color: #000;
}
ul.nav-tabs li a{
    color: #fff;
    font-weight: 500;
}
ul.nav-tabs li a i{
    font-size: 40px;
}
.scrollToTop{
    position:fixed;
    right:25px;
    bottom:125px;
    cursor:pointer;
    width:50px;
    height:50px;
    z-index:100;
}
.navbottom{
    min-height: 80px;
}
.navbuttom ul li{
    min-height: 80px;
    width: 25%;
    text-align: center;
    font-size: 14px;
}
.navbuttom ul li a{
    min-height: 80px;
}