.productlist .caption h4{
    font-weight: bold;
}
.productlist .product img{
    width: 100%;
    max-width: 100%;
}
.productlist .product h5 {
    float: left;
}
span.sale{
    color: #ce0013;
}
span.line-through{
    text-decoration: line-through;
}